<div id="registerRoot">
    <div id="registerBox">
        <b style="font-size: large; color: black;">Regisztráció</b>
        <mat-form-field style="display: block; margin-top: 20px;">
            <mat-label>Felhasználónév</mat-label>
            <mat-hint>Legalább 3 karakteres</mat-hint>
            <mat-error *ngIf = "notEmptyUsernameControl.hasError('required')">
                Meg kell adnod a felhasználónevet!
             </mat-error>
            <input matInput type="text" [(ngModel)]="username" [formControl]="notEmptyUsernameControl">
        </mat-form-field>
        <mat-form-field style="display: block; margin-top: 20px;">
            <mat-label>Jelszó</mat-label>
            <mat-hint>Legalább 3 karakteres</mat-hint>
            <mat-error *ngIf = "notEmptyPasswordControl.hasError('required')">
                Meg kell adnod a jelszót!
             </mat-error>
            <input matInput type="password" [(ngModel)]="password" [formControl]="notEmptyPasswordControl">
        </mat-form-field>
        <mat-form-field style="display: block; margin-top: 20px;">
            <mat-label>Jelszó ismét</mat-label>
            <mat-hint>Meg kell egyeznie a két jelszónak</mat-hint>
            <input matInput type="password" [(ngModel)]="passwordAgain">
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" (click)="onRegisterClick()" style="margin: 20px; float: left;">Regisztáció</button>
            <u style="margin: 20px; float: right; color: black;" (click)="onLoginClick()">Már van fiókom</u>
        </div>
    </div>
</div>
