<div id="loginRoot">
    <div id="loginBox">
        <b style="margin: 20px; font-size: large;">Kérlek jelentkezz be</b>
        <div style="margin: 20px;">
            <span>Felhasználónév:  </span>
            <input type="text" placeholder="felhasználónév..." [(ngModel)]="username">
        </div>
        <div style="margin: 20px;">
            <span>Jelszó:  </span>
            <input type="password" placeholder="jelszó..." [(ngModel)]="password">
        </div>
        <div>
            <button (click)="onLoginClick()" style="margin: 20px; float: left;">Bejelentkezés</button>
            <u style="margin: 20px; float: right;" (click)="onRegisterClick()">Regisztráció</u>
        </div>
    </div>
</div>