<div id="header">
  <h3>PRF sakk áruház</h3>
  <div id="navbar">
    <ul>
        <li>Főoldal</li>
        <li>Termékek</li>
        <li>Rólunk</li>
    </ul>
  </div>
  <img src="assets/chess_icon.png" id="siteIcon">
</div>

<hr>

<div id="routerContent">
  <router-outlet></router-outlet>
</div>

<hr>

<div id="footer">
  <div style="margin: 10dp; float: left;">
    <span style="align-self: flex-start;">PRF projektmunka, Gáspár Tamás</span>
  </div>
  <div style="margin: 10dp; float: right;">
    <span>Forráskódok: </span>
    <a style="align-self: flex-end;" href="https://github.com/Gtomika/prf-project">GitHub</a>
  </div>
</div>